	 <h1>Your Change <%=n1%><%=n2%><%=n3%><%=n4%><%=f_name%><%=l_name%>

 
<form method="post" action="back">
	<input type="hidden" name="f_name" value="<%=f_name%>">
	<input type="hidden" name="l_name" value="<%=l_name%>">

	<input type="submit" value="Again?">
</form>